.resetSection {
  padding: 152px 0 152px 0;
}
.resetContainer {
  max-width: 362px;
  padding: 48px 32px;
  margin: 0 auto;
  background-color: var(--light-beige);
  border-radius: 32px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--black);
}

.form {
  width: 100%;
}

.fieldGroup {
  margin-bottom: 16px;
}

.label {
  display: block;
  font-size: 12px;
  color: var(--dark-gray);
  margin-bottom: 4px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  background-color: var(--white);
}

.input::placeholder {
  color: var(--light-gray);
  opacity: 1;
}

/* #region PASSWORD SCALE METER */
.passwordStrengthContainer {
  margin-top: 8px;
  animation: fadeIn 0.2s ease-in-out;
}

.passwordStrengthMeter {
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.strengthBar {
  height: 100%;
  width: 0;
  border-radius: 4px;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.strengthBar.very-weak {
  background-color: #f44336;
}

.strengthBar.fair {
  background-color: #ff9800;
}

.strengthBar.good {
  background-color: #4caf50;
}

.strengthBar.strong {
  background-color: #2196f3;
}

.passwordStrengthText {
  font-size: 0.875rem;
  margin-top: 4px;
  color: #9e9e9e;
  transition: color 0.3s ease;
  animation: fadeIn 0.2s ease-in-out;
}

.passwordStrengthText.very-weak {
  color: #f44336;
}

.passwordStrengthText.fair {
  color: #ff9800;
}

.passwordStrengthText.good {
  color: #4caf50;
}

.passwordStrengthText.strong {
  color: #2196f3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* #endregion */

.error {
  color: #c80000;
  position: relative;
  font-size: 12px;
  margin-left: 6px;
}

.filled {
  background: var(--white);
  border: 1px solid var(--light-gray);
}

.errorInput {
  border-color: var(--red);
  background: var(--white);
  color: var(--red);
  box-shadow: none;
}

.input:focus,
.input:focus-visible {
  outline: none;
  border-color: var(--brown);
  box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.2);
  border: 1.5px solid var(--light-brown);
}

.passwordWrapper {
  position: relative;
}

.eyeButton {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyeButton svg {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: var(--black);
  transition: fill 0.2s ease;
}

.submitButton {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: var(--light-brown);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

.submitButton:focus-visible {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12);
}

.submitButton:disabled,
.submitButton[aria-disabled='true'] {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  cursor: not-allowed;
  opacity: 0.3;
}

.redirectText {
  text-align: center;
}

.link {
  color: var(--black);
  font-weight: 600;
  text-decoration: underline;
}
